<article class='rental'>
  <Rental::Image
  {{!-- // PLUG IN PASSED DATA from INDEX ROUTE/TEMPLATE --}}
    src={{@rental.image}}
    alt='A picture of {{@rental.title}}'
  />
  <div class='details'>
    <h3>{{@rental.title}}</h3>
    <div class='detail owner'>
      <span>Owner:</span>
      {{@rental.owner}}
    </div>
    <div class='detail type'>
      <span>Type:</span>
      {{@rental.type}}
    </div>
    <div class='detail location'>
      <span>Location:</span>
      {{@rental.city}}
    </div>
    <div class='detail bedrooms'>
      <span>Number of bedrooms:</span>
      {{@rental.bedrooms}}
    </div>
  </div>

{{!-- CALLING MAP HBS within a DIFFERENT COMPONENT and passing down information for assigned/required ARGUMENTS? (NOT RESTRICTED I think..so can have dead arguments?), ACCESSIBLE WITHIN .hbs AND .js
, but '{desctructured} = this.arg' is required to accessess within a GETTER via .js,
and to acces our .js GETTER from our map.hbs file, we just call it with 'gettername={{this.gettername}}  --}}

  <Map
  {{!-- ex. of information for assigned arguments callable within component and USED WITHIN HTML ATTRIBUTES and function(by calling as this.args)  --}}
    @lat={{@rental.location.lat}}
    @lng={{@rental.location.lng}}
    @zoom="9"
    @width="150"
    @height="150"
    {{!-- ex. of html attributes callable within component  --}}
    alt="A map of {{@rental.title}}"

  />
</article>